@charset "ISO-8859-1";

.hidden {
	display: none;
	}
	
a img
{  	
	border-style: none;
}

img
{  
	border-style: none;
}

@media (min-width: 1200px){
  .container{
    padding-right:380px !important;
  }  
}

@media (min-width: 768px){
  .container{
    padding-right:380px !important;
  }  
}

@media (min-width: 1200px)
.col-sm-4 {
    width:500px !important;
}

@media (min-width: 1200px)
.col-sm-1 {
    width: 100px !important;
}

@media (min-width: 768px)
.col-sm-4 {
   width:500px !important;
}

@media (min-width: 768px)
.col-sm-1 {
    width: 100px !important;
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1200px) {
	
  /* Styles */
  .col-sm-4 {
   width:500px !important;
  }

  .col-sm-1 {
    width: 100px !important;
  }

}




	
.error {
color:#FF0000;
font-weight: bold;
padding-left:120px;
}

.success{
 color:#00FF7F;
 font-weight: bold;
}
	
.inputstl { 
    padding: 9px; 
    border: solid 1px #173955; 
    outline: 0; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #AACCE8), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #AACCE8 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 

    } 
   /*  to get the form in the center */
    .content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}

p.results{
	 font-weight: bold;
}


.inputstl { 
    padding: 9px; 
    border: solid 1px #173955; 
    outline: 0; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #AACCE8), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #AACCE8 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 

    } 
   /*  to get the form in the center */
    .content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}



.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  
  .navbar-nav .navbar-left li a:hover {
     border-style: none;
     border: 0px;
     padding-top: 0px;
     padding-bottom: 0px;
  }
  
  
  .ul-nobullets {
  list-style-type: none;
}
  
   
   
   /*
   Select box css
   
   */
   
   
   
   /*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}






.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}


body.modal-open div.modal-backdrop { 
    z-index: 0; 
}



div.hidden {
    display: none;
}




/* css for the upload photo*/

.rail-select {
  position: absolute;
  width: 12px;
  
  select {
    border: 3px solid transparent
    border-radius: 1px;
    font-size: 10px;
    color: transparent;
    background-color: transparent;
    height: 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    
    &:focus {
      outline: none;
      box-shadow: none;
      border: solid 1px grey;
    }
  }
  
  .select-side {
    &:before {
      border-left: none;
      content : "";
      position: absolute;
      left    : 0;
      bottom  : 0;
      height  : 100%;
      width   : 1px;  /* or 100px */
    }
    
    width: 40px;
    position: absolute;
    top: 0px;
    background-color: #F3F9FE;
    height: 100%;
    left: 120px;
    border-radius: 0px 3px 3px 0px;
    border-right: solid 1px gray;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    pointer-events:none;
  
    i {
      &.blue {
        color: #4E7AF0;
      }
      
      left: 30%;
      top: 12px;
    }
  }
}


.inlinehref a {
	display: inline !important;
}


/*footer css */
footer {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}


p.pdftitle  {
	text-align:center;
	margin: 0 0 10px;
}

.forgot-pass {
    margin-top: 20px;
    padding-left: 180px;
}

.link {
    cursor: pointer;
    color: #1F6EB0;
}


.center {
    margin: auto;
    width: 60%;
    word-break: break-all;
}














.selectClass {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  border: none;
  width: 100px;
  background: #EEE;
  height: 30px;
  font-size: 20px;
  padding-left: 5px;
}
.dropDownArrow {
  pointer-events: none;
  position: relative;
  margin-left: 75px;
  margin-top: -20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #555;
}
